@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    color: #ffffff;
    background-color: #131214;
    font-family: "Inter", sans-serif;
    letter-spacing: 1pt;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
}