<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="keywords" content="ResumeGEN">
    <meta name="description"
        content="A free and open-source resume builder that simplifies the process of creating and updating your resume.">
    <meta name="theme-color" content="#131214">
    <title>Log In - ResumeGEN</title>
</head>

<body>
    <nav class="navbar">
        <a href="/" class="logo">ResumeGEN</a>
        <span class="navbar_toggle" id="js-navbar-toggle">
            <i class="uil uil-apps"></i>
        </span>
        <ul class="nav_links_div" id="js-menu">
            {% if request.user.is_authenticated %}
            <li><a href="#" class="nav_links">Hi, {{user.username}}</a></li>
            <li><a href="{% url 'dashboard' %}" class="nav_links">Dashboard</a></li>
            <li><a href="{% url 'preview' %}" class="nav_links">Preview</a></li>
            <li><a href="{% url 'delete' user.id %}" class="nav_links active">Delete Account</a></li>
            <li><a href="{% url 'logout' %}" class="nav_links">Log Out</a></li>
            {% else %}
            <li><a href="/" class="nav_links">Home</a></li>
            <li><a href="{% url 'login' %}" class="nav_links">Log In</a></li>
            <li><a href="{% url 'signup' %}" class="nav_links">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="form_container">
        <h2 class="form_logo">Delete Account</h2>
        <p class="note_text">
            Deleting your account will remove all of your information from our database. This cannot be undone.
        </p>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn delete">Delete My Account</button>
        </form>
    </div>
</body>

</html>