<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="keywords" content="ResumeGEN">
    <meta name="description"
        content="A free and open-source resume builder that simplifies the process of creating and updating your resume.">
    <meta name="theme-color" content="#131214">
    <title>Password Reset - ResumeGEN</title>
</head>

<body>
    <div class="form_container">
        <h2 class="form_logo">Password Reset</h2>
        <p class="note_text">Enter your email and we'll send you a link to get back into your account.</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="password_reset">
                {{form.as_p}}
            </div>
            <button type="submit" class="btn">Send Reset Link</button>
        </form>
    </div>
</body>

</html>